<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/save" method="POST">
        <label for="firstname">Firstname:</label>
        <input type="text" name="firstname" placeholder="firstname" required>
        <br>
        <label for="middlename">middlename:</label>
        <input type="text" name="middlename" placeholder="middlename" required>
        <br>
        <label for="lastname">lastname:</label>
        <input type="text" name="lastname" placeholder="lastname" required>
        <br>
        <label for="birthdate"></label>
        <label for="birthdate">birthdate:</label>
        <input type="date" name="birthdate" placeholder="birthdate" required>
        <br>
        <input type="submit" value="save">
    </form>
</body>
</html>