<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Middle Name</th>
            <th>Birthdate</th>
            <th>Action</th>

        </tr>
        <% information.forEach(info => { %>
        <tr>
            <td><%= info.firstname%></td>
            <td><%= info.lastname%></td>
            <td><%= info.middlename%></td>
            <td><%= info.birthdate%></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>